{% extends 'layout.html' %}

{% block body %}
    <p>This is the home page</p>

    {% if user %}

    <h1>Hi {{user}} !!</h1>

    {% else %}

    <p>Login !</p>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="enter username ... "><br>
        <input type="password" name="password" placeholder="enter password .."><br>

        <input type="submit" value="login">
    </form>
    {% endif %}

    {% if session %}
    <a href="/logout">Logout</a>
    {% endif %}

{% endblock body %}