<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Amazon</title>
    {% endif %}
</head>
<body>
    <center><h1>Welcome to Mini Amazon</h1></center>
    {% block body %}

    {% endblock body %}
</body>
<footer>
        <p> &copy; Mini Amazon 2019</p>
        <a href="/contact.html">Contact</a>
        <a href="/about.html">About</a>
</footer>
</html>